In [1]:
import pandas as pd

In [4]:
PSD_Coffee_Data_file = "PSD Coffee Data.csv"
PSD_Coffee_Data_df = pd.read_csv(PSD_Coffee_Data_file)
PSD_Coffee_Data_df.head()

,Commodity_Code,Commodity_Description,Country_Code,Country_Name,Market_Year,Calendar_Year,Month,Attribute_ID,Attribute_Description,Unit_ID,Unit_Description,Value
0,711100,"Coffee, Green",AG,Algeria,2003,2012,6,29,Arabica Production,2,(1000 60 KG BAGS),0
1,711100,"Coffee, Green",AG,Algeria,2003,2012,6,90,Bean Exports,2,(1000 60 KG BAGS),0
2,711100,"Coffee, Green",AG,Algeria,2003,2012,6,58,Bean Imports,2,(1000 60 KG BAGS),1800
3,711100,"Coffee, Green",AG,Algeria,2003,2012,6,20,Beginning Stocks,2,(1000 60 KG BAGS),0
4,711100,"Coffee, Green",AG,Algeria,2003,2012,6,125,Domestic Consumption,2,(1000 60 KG BAGS),1805

In [7]:
# Create a filtered dataframe from specific columns
PSD_Coffee_Data_cols = ["Country_Name", "Market_Year", "Calendar_Year", "Month", "Attribute_ID", "Attribute_Description", "Unit_ID", "Unit_Description", "Value"]
PSD_Coffee_Data_transformed= PSD_Coffee_Data_df[PSD_Coffee_Data_cols].copy()

# Rename the column headers
PSD_Coffee_Data_transformed = PSD_Coffee_Data_transformed.rename(columns={"Country_Name": "Country"})

PSD_Coffee_Data_transformed.index

RangeIndex(start=0, stop=74309, step=1)

In [8]:
PSD_Coffee_Data_transformed.head()

,Country,Market_Year,Calendar_Year,Month,Attribute_ID,Attribute_Description,Unit_ID,Unit_Description,Value
0,Algeria,2003,2012,6,29,Arabica Production,2,(1000 60 KG BAGS),0
1,Algeria,2003,2012,6,90,Bean Exports,2,(1000 60 KG BAGS),0
2,Algeria,2003,2012,6,58,Bean Imports,2,(1000 60 KG BAGS),1800
3,Algeria,2003,2012,6,20,Beginning Stocks,2,(1000 60 KG BAGS),0
4,Algeria,2003,2012,6,125,Domestic Consumption,2,(1000 60 KG BAGS),1805