In [10]:
import pandas as pd
from sqlalchemy import create_engine

In [11]:
exports = "Exports-calendar year.csv"
export_df = pd.read_csv(exports)
export_df

,Exports of all forms of coffee by all exporting countries,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,In thousand 60kg bags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,Angola,84,71,80,39,8,41,52,50,54,...,7,4,8,8,6,9,11,11,9,9
4,Benin,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Zambia,24,29,31,23,24,21,36,39,33,...,33,18,9,7,10,5,3,10,13,26
58,Zimbabwe,251,239,162,70,32,157,150,109,153,...,18,7,5,4,2,11,11,12,2,5
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Total,"80,675","75,943","78,299","75,168","70,716","67,870","77,669","80,414","80,265",...,"96,242","97,046","102,185","108,444","108,567","115,548","115,107","119,216","116,872","122,739"
61,© International Coffee Organization,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
export_df.dropna(subset=["Exports of all forms of coffee by all exporting countries"], how="all", inplace=True)
export_df

,Exports of all forms of coffee by all exporting countries,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,In thousand 60kg bags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,Angola,84,71,80,39,8,41,52,50,54,...,7,4,8,8,6,9,11,11,9,9
4,Benin,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Bolivia (Plurinational State of),156,74,96,47,84,94,123,111,97,...,83,78,74,63,55,62,30,22,26,22
6,Brazil,"16,936","21,183","18,791","17,838","17,273","14,468","15,251","16,801","18,144",...,"30,378","33,167","33,806","28,549","31,651","37,335","37,563","34,269","30,925","35,383"
7,Burundi,585,688,646,418,508,528,224,529,374,...,289,307,218,392,195,252,230,261,169,202
8,Cameroon,"2,611","1,752","1,646",705,546,407,564,"1,368",746,...,618,794,490,622,272,375,390,281,245,287
9,Central African Republic,197,141,100,137,137,232,98,203,102,...,62,95,78,78,1,75,43,80,18,39
10,Colombia,"13,944","12,599","16,564","13,568","11,768","9,814","10,588","10,919","11,260",...,"7,894","7,822","7,734","7,170","9,670","10,954","12,716","12,831","12,985","12,808"
11,Congo,2,1,0,1,1,19,13,3,0,...,0,0,0,0,0,0,0,0,0,0
12,Costa Rica,"2,266","2,400","2,431","2,364","2,105","2,067","2,430","2,099","2,045",...,"1,236","1,200","1,243","1,374","1,344","1,209","1,128","1,007",987,"1,208"
13,Côte d'Ivoire,"4,283","3,805","4,546","4,033","2,444","2,494","2,751","4,713","4,365",...,"1,807","1,912",772,"1,712","1,962","1,489","1,418","1,432",855,"1,522"
14,Cuba,182,121,163,116,136,122,112,107,152,...,7,5,10,15,12,13,13,15,15,33
15,Democratic Republic of Congo,"1,839","1,418",954,920,761,"1,051",882,544,640,...,161,162,132,146,140,151,128,171,89,188
16,Dominican Republic,535,476,369,331,332,451,453,307,360,...,102,41,89,137,65,45,19,19,24,32
17,Ecuador,"1,784","1,416","1,273","1,599","2,145","1,540","1,539","1,045","1,056",...,"1,086","1,202","1,532","1,580","1,262","1,129",869,923,695,483
18,El Salvador,"2,510","2,148","2,120","2,947","2,093","1,807","2,314","2,772","1,684",...,"1,309","1,082","1,826","1,044","1,103",462,576,496,527,571
19,Equatorial Guinea,7,3,3,2,1,3,2,1,2,...,0,0,0,0,0,0,0,0,0,0
20,Ethiopia,"1,074",841,734,"1,167","1,475","1,276","1,838","1,980","1,917",...,"1,851","3,324","2,675","3,203","2,870","3,117","2,985","3,001","3,773","3,589"
21,Gabon,2,3,1,2,5,3,2,0,2,...,1,1,1,0,0,0,0,0,0,0
22,Ghana,11,16,32,47,11,38,4,30,18,...,24,7,72,30,23,26,40,27,17,12
23,Guatemala,"3,240","2,832","3,328","3,751","3,274","3,701","3,979","4,244","3,542",...,"3,493","3,468","3,697","3,750","3,575","3,043","2,961","2,991","3,383","3,327"
24,Guinea,122,61,58,15,50,152,32,114,228,...,439,406,385,377,134,24,152,250,216,157
25,Guyana,0,0,1,0,0,0,0,0,0,...,1,1,1,2,1,13,2,2,1,1
26,Haiti,191,151,166,159,103,152,156,101,127,...,16,9,9,11,8,3,3,1,2,2
27,Honduras,"1,735","1,444","1,960","1,705","1,718","1,796","2,060","1,722","2,329",...,"3,084","3,349","3,947","5,508","4,185","4,252","5,030","5,306","7,341","7,144"
28,India,"1,979","1,727","1,816","2,102","2,496","2,467","3,103","2,640","3,487",...,"3,007","4,647","5,414","5,044","5,033","5,131","5,262","6,086","6,542","5,967"
29,Indonesia,"6,903","6,171","4,604","5,662","4,605","3,947","6,440","5,755","5,598",...,"7,907","5,489","3,920","8,206","9,255","6,175","8,379","6,545","8,198","4,539"
30,Jamaica,15,17,22,24,16,26,27,30,17,...,25,15,16,15,15,10,12,11,10,10
31,Kenya,"1,969","1,558","1,384","1,439","1,358","1,450","1,902","1,159",841,...,525,531,609,803,815,799,712,727,710,753
32,Lao People's Democratic Republic,98,98,102,142,153,165,144,110,112,...,264,288,421,360,400,370,403,386,386,361
33,Liberia,22,0,0,0,0,0,0,0,3,...,9,7,8,3,4,1,4,3,11,8
34,Madagascar,863,588,736,628,436,585,718,480,796,...,40,74,144,79,166,138,59,53,64,6
35,Malawi,124,100,128,104,78,92,60,60,59,...,18,8,26,20,29,26,18,22,13,12
36,Mexico,"3,683","3,531","3,332","3,264","2,789","3,626","4,633","4,502","3,399",...,"2,838","2,498","2,907","3,556","3,132","2,480","2,458","2,233","2,911","2,888"
37,Nepal,0,0,0,0,0,0,0,0,0,...,2,1,4,1,1,1,2,2,1,2
38,Nicaragua,671,392,636,476,624,681,822,714,941,...,"1,374","1,712","1,468","1,987","1,661","1,901","1,753","1,963","2,449","2,300"
39,Nigeria,4,1,11,10,8,15,7,7,10,...,1,3,7,2,1,1,3,1,3,3
40,Panama,132,124,125,129,76,181,139,124,145,...,59,65,53,51,49,51,50,56,50,47
41,Papua New Guinea,"1,051",788,917,"1,055","1,157","1,002","1,090","1,043","1,349",...,"1,027",929,"1,225",925,811,807,711,"1,133",794,870
42,Paraguay,263,120,40,58,55,14,15,10,41,...,0,0,0,0,0,0,0,0,0,0
43,Peru,"1,105","1,042","1,061",775,"1,057","1,760","1,679","1,648","1,949",...,"3,074","3,817","4,697","4,310","3,736","2,720","2,790","3,960","3,946","4,064"
44,Philippines,168,103,41,35,126,57,27,31,21,...,7,6,10,3,6,12,15,13,9,4
45,Rwanda,779,474,645,481,30,314,265,218,214,...,304,296,277,251,254,256,263,244,246,266
46,Sierra Leone,140,104,47,41,62,71,29,47,42,...,104,58,37,65,57,24,54,26,35,27
47,Sri Lanka,19,22,15,14,47,22,12,21,27,...,1,2,2,0,0,2,0,1,2,2
48,Tanzania,"1,019",871,828,"1,037",632,745,970,655,742,...,"1,157",556,798,756,935,718,709,905,664,856
49,Thailand,"1,001",541,"1,164",982,"1,136","1,210",873,"1,066",778,...,185,370,243,350,49,27,578,131,141,258
50,Timor-Leste,0,0,0,0,0,0,0,0,0,...,43,68,39,56,70,111,68,68,86,129
51,Togo,239,155,313,218,166,200,85,313,166,...,152,198,155,147,91,134,178,75,27,111
52,Trinidad & Tobago,30,8,2,10,5,4,4,4,5,...,0,1,0,1,2,2,2,2,2,3
53,Uganda,"2,353","2,095","1,961","1,829","3,369","3,079","4,655","3,502","3,286",...,"3,014","2,657","3,142","2,685","3,672","3,442","3,596","3,543","4,774","4,223"
54,Venezuela,278,128,136,525,386,97,495,105,268,...,18,19,0,2,6,0,1,0,0,72
55,Viet Nam,"1,145","1,201","1,938","2,072","2,721","3,546","3,779","6,178","6,467",...,"17,052","14,229","17,717","22,920","19,718","26,097","20,655","27,568","22,439","27,866"
56,Yemen,50,72,37,51,93,77,42,80,71,...,39,44,35,63,55,57,52,38,46,42
57,Zambia,24,29,31,23,24,21,36,39,33,...,33,18,9,7,10,5,3,10,13,26
58,Zimbabwe,251,239,162,70,32,157,150,109,153,...,18,7,5,4,2,11,11,12,2,5
60,Total,"80,675","75,943","78,299","75,168","70,716","67,870","77,669","80,414","80,265",...,"96,242","97,046","102,185","108,444","108,567","115,548","115,107","119,216","116,872","122,739"
61,© International Coffee Organization,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
export_df = export_df.drop(index=[0, 60, 61])
export_df.head()

,Exports of all forms of coffee by all exporting countries,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
2,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,Angola,84,71,80,39,8,41,52,50,54,...,7,4,8,8,6,9,11,11,9,9
4,Benin,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Bolivia (Plurinational State of),156,74,96,47,84,94,123,111,97,...,83,78,74,63,55,62,30,22,26,22
6,Brazil,"16,936","21,183","18,791","17,838","17,273","14,468","15,251","16,801","18,144",...,"30,378","33,167","33,806","28,549","31,651","37,335","37,563","34,269","30,925","35,383"

In [14]:
export_df["Exports of all forms of coffee by all exporting countries"] = export_df["Exports of all forms of coffee by all exporting countries"].replace({"Bolivia (Plurinational State of)": "Bolivia", "Timor-Leste": "East Timor", "Congo": "Congo, Repub. of the ", "Central African Republic": "Central African Rep", "Côte d'Ivoire": "Cote d'Ivoire", "Democratic Republic of Congo": "Congo, Dem. Rep.", "Lao People's Democratic Republic": "Laos", "Viet Nam": "Vietnam"})
export_df

,Exports of all forms of coffee by all exporting countries,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
2,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,Angola,84,71,80,39,8,41,52,50,54,...,7,4,8,8,6,9,11,11,9,9
4,Benin,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Bolivia,156,74,96,47,84,94,123,111,97,...,83,78,74,63,55,62,30,22,26,22
6,Brazil,"16,936","21,183","18,791","17,838","17,273","14,468","15,251","16,801","18,144",...,"30,378","33,167","33,806","28,549","31,651","37,335","37,563","34,269","30,925","35,383"
7,Burundi,585,688,646,418,508,528,224,529,374,...,289,307,218,392,195,252,230,261,169,202
8,Cameroon,"2,611","1,752","1,646",705,546,407,564,"1,368",746,...,618,794,490,622,272,375,390,281,245,287
9,Central African Rep,197,141,100,137,137,232,98,203,102,...,62,95,78,78,1,75,43,80,18,39
10,Colombia,"13,944","12,599","16,564","13,568","11,768","9,814","10,588","10,919","11,260",...,"7,894","7,822","7,734","7,170","9,670","10,954","12,716","12,831","12,985","12,808"
11,"Congo, Repub. of the",2,1,0,1,1,19,13,3,0,...,0,0,0,0,0,0,0,0,0,0
12,Costa Rica,"2,266","2,400","2,431","2,364","2,105","2,067","2,430","2,099","2,045",...,"1,236","1,200","1,243","1,374","1,344","1,209","1,128","1,007",987,"1,208"
13,Cote d'Ivoire,"4,283","3,805","4,546","4,033","2,444","2,494","2,751","4,713","4,365",...,"1,807","1,912",772,"1,712","1,962","1,489","1,418","1,432",855,"1,522"
14,Cuba,182,121,163,116,136,122,112,107,152,...,7,5,10,15,12,13,13,15,15,33
15,"Congo, Dem. Rep.","1,839","1,418",954,920,761,"1,051",882,544,640,...,161,162,132,146,140,151,128,171,89,188
16,Dominican Republic,535,476,369,331,332,451,453,307,360,...,102,41,89,137,65,45,19,19,24,32
17,Ecuador,"1,784","1,416","1,273","1,599","2,145","1,540","1,539","1,045","1,056",...,"1,086","1,202","1,532","1,580","1,262","1,129",869,923,695,483
18,El Salvador,"2,510","2,148","2,120","2,947","2,093","1,807","2,314","2,772","1,684",...,"1,309","1,082","1,826","1,044","1,103",462,576,496,527,571
19,Equatorial Guinea,7,3,3,2,1,3,2,1,2,...,0,0,0,0,0,0,0,0,0,0
20,Ethiopia,"1,074",841,734,"1,167","1,475","1,276","1,838","1,980","1,917",...,"1,851","3,324","2,675","3,203","2,870","3,117","2,985","3,001","3,773","3,589"
21,Gabon,2,3,1,2,5,3,2,0,2,...,1,1,1,0,0,0,0,0,0,0
22,Ghana,11,16,32,47,11,38,4,30,18,...,24,7,72,30,23,26,40,27,17,12
23,Guatemala,"3,240","2,832","3,328","3,751","3,274","3,701","3,979","4,244","3,542",...,"3,493","3,468","3,697","3,750","3,575","3,043","2,961","2,991","3,383","3,327"
24,Guinea,122,61,58,15,50,152,32,114,228,...,439,406,385,377,134,24,152,250,216,157
25,Guyana,0,0,1,0,0,0,0,0,0,...,1,1,1,2,1,13,2,2,1,1
26,Haiti,191,151,166,159,103,152,156,101,127,...,16,9,9,11,8,3,3,1,2,2
27,Honduras,"1,735","1,444","1,960","1,705","1,718","1,796","2,060","1,722","2,329",...,"3,084","3,349","3,947","5,508","4,185","4,252","5,030","5,306","7,341","7,144"
28,India,"1,979","1,727","1,816","2,102","2,496","2,467","3,103","2,640","3,487",...,"3,007","4,647","5,414","5,044","5,033","5,131","5,262","6,086","6,542","5,967"
29,Indonesia,"6,903","6,171","4,604","5,662","4,605","3,947","6,440","5,755","5,598",...,"7,907","5,489","3,920","8,206","9,255","6,175","8,379","6,545","8,198","4,539"
30,Jamaica,15,17,22,24,16,26,27,30,17,...,25,15,16,15,15,10,12,11,10,10
31,Kenya,"1,969","1,558","1,384","1,439","1,358","1,450","1,902","1,159",841,...,525,531,609,803,815,799,712,727,710,753
32,Laos,98,98,102,142,153,165,144,110,112,...,264,288,421,360,400,370,403,386,386,361
33,Liberia,22,0,0,0,0,0,0,0,3,...,9,7,8,3,4,1,4,3,11,8
34,Madagascar,863,588,736,628,436,585,718,480,796,...,40,74,144,79,166,138,59,53,64,6
35,Malawi,124,100,128,104,78,92,60,60,59,...,18,8,26,20,29,26,18,22,13,12
36,Mexico,"3,683","3,531","3,332","3,264","2,789","3,626","4,633","4,502","3,399",...,"2,838","2,498","2,907","3,556","3,132","2,480","2,458","2,233","2,911","2,888"
37,Nepal,0,0,0,0,0,0,0,0,0,...,2,1,4,1,1,1,2,2,1,2
38,Nicaragua,671,392,636,476,624,681,822,714,941,...,"1,374","1,712","1,468","1,987","1,661","1,901","1,753","1,963","2,449","2,300"
39,Nigeria,4,1,11,10,8,15,7,7,10,...,1,3,7,2,1,1,3,1,3,3
40,Panama,132,124,125,129,76,181,139,124,145,...,59,65,53,51,49,51,50,56,50,47
41,Papua New Guinea,"1,051",788,917,"1,055","1,157","1,002","1,090","1,043","1,349",...,"1,027",929,"1,225",925,811,807,711,"1,133",794,870
42,Paraguay,263,120,40,58,55,14,15,10,41,...,0,0,0,0,0,0,0,0,0,0
43,Peru,"1,105","1,042","1,061",775,"1,057","1,760","1,679","1,648","1,949",...,"3,074","3,817","4,697","4,310","3,736","2,720","2,790","3,960","3,946","4,064"
44,Philippines,168,103,41,35,126,57,27,31,21,...,7,6,10,3,6,12,15,13,9,4
45,Rwanda,779,474,645,481,30,314,265,218,214,...,304,296,277,251,254,256,263,244,246,266
46,Sierra Leone,140,104,47,41,62,71,29,47,42,...,104,58,37,65,57,24,54,26,35,27
47,Sri Lanka,19,22,15,14,47,22,12,21,27,...,1,2,2,0,0,2,0,1,2,2
48,Tanzania,"1,019",871,828,"1,037",632,745,970,655,742,...,"1,157",556,798,756,935,718,709,905,664,856
49,Thailand,"1,001",541,"1,164",982,"1,136","1,210",873,"1,066",778,...,185,370,243,350,49,27,578,131,141,258
50,East Timor,0,0,0,0,0,0,0,0,0,...,43,68,39,56,70,111,68,68,86,129
51,Togo,239,155,313,218,166,200,85,313,166,...,152,198,155,147,91,134,178,75,27,111
52,Trinidad & Tobago,30,8,2,10,5,4,4,4,5,...,0,1,0,1,2,2,2,2,2,3
53,Uganda,"2,353","2,095","1,961","1,829","3,369","3,079","4,655","3,502","3,286",...,"3,014","2,657","3,142","2,685","3,672","3,442","3,596","3,543","4,774","4,223"
54,Venezuela,278,128,136,525,386,97,495,105,268,...,18,19,0,2,6,0,1,0,0,72
55,Vietnam,"1,145","1,201","1,938","2,072","2,721","3,546","3,779","6,178","6,467",...,"17,052","14,229","17,717","22,920","19,718","26,097","20,655","27,568","22,439","27,866"
56,Yemen,50,72,37,51,93,77,42,80,71,...,39,44,35,63,55,57,52,38,46,42
57,Zambia,24,29,31,23,24,21,36,39,33,...,33,18,9,7,10,5,3,10,13,26
58,Zimbabwe,251,239,162,70,32,157,150,109,153,...,18,7,5,4,2,11,11,12,2,5

In [15]:
export_df.columns = export_df.iloc[0]
export_df
export_df.head()

2,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
2,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,Angola,84,71,80,39,8,41,52,50,54,...,7,4,8,8,6,9,11,11,9,9
4,Benin,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Bolivia,156,74,96,47,84,94,123,111,97,...,83,78,74,63,55,62,30,22,26,22
6,Brazil,"16,936","21,183","18,791","17,838","17,273","14,468","15,251","16,801","18,144",...,"30,378","33,167","33,806","28,549","31,651","37,335","37,563","34,269","30,925","35,383"

In [16]:
export_df = export_df.drop(2)
export_df.reset_index(drop=True)
export_df.head()

2,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,Angola,84,71,80,39,8,41,52,50,54,...,7,4,8,8,6,9,11,11,9,9
4,Benin,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Bolivia,156,74,96,47,84,94,123,111,97,...,83,78,74,63,55,62,30,22,26,22
6,Brazil,"16,936","21,183","18,791","17,838","17,273","14,468","15,251","16,801","18,144",...,"30,378","33,167","33,806","28,549","31,651","37,335","37,563","34,269","30,925","35,383"
7,Burundi,585,688,646,418,508,528,224,529,374,...,289,307,218,392,195,252,230,261,169,202

In [17]:
export_df = export_df.rename(columns = {"Calendar years": "Country"})
export_df.head()

2,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,Angola,84,71,80,39,8,41,52,50,54,...,7,4,8,8,6,9,11,11,9,9
4,Benin,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Bolivia,156,74,96,47,84,94,123,111,97,...,83,78,74,63,55,62,30,22,26,22
6,Brazil,"16,936","21,183","18,791","17,838","17,273","14,468","15,251","16,801","18,144",...,"30,378","33,167","33,806","28,549","31,651","37,335","37,563","34,269","30,925","35,383"
7,Burundi,585,688,646,418,508,528,224,529,374,...,289,307,218,392,195,252,230,261,169,202

In [18]:
final_df = export_df.set_index(keys="Country")
final_df.head()

2,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,,,,,,,,,,,,
Angola,84,71,80,39,8,41,52,50,54,50,...,7,4,8,8,6,9,11,11,9,9
Benin,0,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Bolivia,156,74,96,47,84,94,123,111,97,124,...,83,78,74,63,55,62,30,22,26,22
Brazil,"16,936","21,183","18,791","17,838","17,273","14,468","15,251","16,801","18,144","23,149",...,"30,378","33,167","33,806","28,549","31,651","37,335","37,563","34,269","30,925","35,383"
Burundi,585,688,646,418,508,528,224,529,374,409,...,289,307,218,392,195,252,230,261,169,202

In [19]:
export_df.to_csv("exports_ico_clean.csv", header=True)